.videoCallContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 100vh;
  color: white;
  position: relative;
  padding: 10px;
}

.videos {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.localVideo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 180px;
  height: 135px;
  border-radius: 10px;
  border: 3px solid #fff;
  background: black;
}

.remoteVideo {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: 10px;
  border: 3px solid #fff;
  background: black;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 5px;
}

.callBtn {
  background-color: #25d366;
  color: white;
}

.declineBtn {
  background-color: red;
  color: white;
}

.acceptBtn {
  background-color: #128c7e;
  color: white;
}

.endCallBtn {
  background-color: red;
  color: white;
  font-size: 18px;
  width: 100%;
  max-width: 300px;
}

.incomingCall {
  text-align: center;
  position: absolute;
  top: 20px;  /* Position it at the top */
  width: 100%;
  z-index: 10;  /* Ensure it's above other elements */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.floatingButton {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #25d366;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-in-out;
}

.floatingButton:hover {
  background-color: #128c7e;
}

@media (max-width: 768px) {
  .localVideo {
    width: 150px;
    height: 120px;
  }

  .remoteVideo {
    width: 100%;
    height: 60%;
  }

  .controls {
    bottom: 10px;
  }

  .incomingCall {
    top: 10px;  /* Adjust for smaller screens */
  }
}

@media (max-width: 480px) {
  .localVideo {
    width: 120px;
    height: 100px;
  }

  .remoteVideo {
    width: 100%;
    height: 50%;
  }

  .endCallBtn {
    width: 100%;
    max-width: 260px;
  }
}
